<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Browse", :cars_browse  %></li>

    </ul>
  </div>
  <div class="content">
    <h2 class="title">Advance Search</h2>
    <div class="inner">
      <form name="search"  action="/cars/search" method="get" style="border: 0px; margin-top:10px;">
        Search by model<input  type="text"  name="search_input">
        <input  type="submit"  value="Search">
      </form>
      <form name="search"  action="/cars/search" method="get" style="border: 0px; margin-top:10px;">
        Search by style<input  type="text"  name="search_input">
        <input  type="submit"  value="Search">
      </form>
      <form name="search"  action="/cars/search" method="get" style="border: 0px; margin-top:10px;">
        Search by year<input  type="text"  name="search_input">
        <input  type="submit"  value="Search">
      </form>
      <form name="search"  action="/cars/search" method="get" style="border: 0px; margin-top:10px;">
        Search by miles above <input  type="text"  name="search_input">
        <input  type="submit"  value="Search">
      </form>
      <form name="search"  action="/cars/search" method="get" style="border: 0px; margin-top:10px;">
        Price below <input  type="text"  name="search_input">
        <input  type="submit"  value="Search">
      </form>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>