<div class="location-image colorfy">
     <%= image_tag 'Building.png' %>
</div>
<div class="location-details colorfy">
     <table border='0' style="padding: 5px;">
       <tr><td style="vertical-align: top">Address:</td><td>555 Main Road<br/>Oakland, MI<br/>45976-1562<br/>
                    1-248-555-5555</td></tr>
       <tr><td>Hours:</td><td>
           Sunday: 8am - 4pm<br/>
           <p>Monday: 8am - 7pm</p>
         <p>Tuesday: 8am - 7pm</p>
         <p>Wednesday: 8am - 7pm</p>
         <p>Thursday: 8am - 7pm</p>
         <p>Friday: 8am - 7pm</p>
         <p>Saturday: 8am - 8pm</p>
       </td></tr>
       <tr><td></td><td></td></tr>

     </table>
</div>