/* Override here any style defined by web-app-theme */

body{
    font-family: Palatino Linotype;
}

#container {
    width: 960px;
    text-align: center;
    margin: auto;
}

#main {
    width: 100% ;
    text-align: left;
    float: left;
}


#header {
    background-color: #28485e;
    margin-top: 5px;
}

#header h1{
    font-family: Palatino Linotype;
}

#main-navigation div ul li {
    float: right
}
#basic-search a a:link a:visited{
    color: white;
}

#basic-search a:hover {
    color: lightgray;
}

.flash {
    background-color: #8a9daa;
}

.flash .message p {
    color: black;

}

#admin_control{
    padding: 10px;
    position: fixed;
    background-color: #333333;
    width:90px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;

}

#admin_control a {
    color: white;
    text-decoration: none;
}

#admin_control ul {
    list-style: none;

}

#admin_control li{
    padding: 4px;
}
#admin_control li:hover{
    background-color: #28485e;
}

.location-details{
    width: 50%;
    float: right;
}
.location-image{
    width: 50%;
    float: left;
}
.location-details, .location-image{
    height: 400px;
}
.location-details td{
    padding: 5px;
    vertical-align: top;
}

.global {
    background-color: #f8f8f8;
    text-align: left;
    width: 100%;
}
.global ul{
    list-style: none;
}
.global li{
    display: inline-block;
    padding: 5px;
    font-size: 15px;
    margin-left: 2px;
    margin-right: 2px;
}
.global li:hover {
    background-color: #a4a4a4;
}
.global li a{
    text-decoration: none;
}

.colorfy{
    background-color: #f8f8f8;
}

.details-header{
    font: bold 20px;
}

#right-details td{
    padding: 5px;
}

.odd{
    background-color: #e5e5e5;
}

.odd:hover{
    border-style: ridge;
    border-color: #28485e;
    border-width: 5px;
}
.even2:hover{
    border-style: ridge;
    border-color: #28485e;
    border-width: 5px;
}